{% extends "base.html" %}

{% block title %}
VQA Chat-App
{% endblock %}

{% block header %}
<!-- Noting needed -->
{% endblock %}

{% block content %}


<div class="chat-bot-wrapper">
    <div class="card">

        <div class="top-section">
            <div class="profile">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='/images/profile.jpg') }}" alt="Profile image">
                </div>
                <div class="profile-info">
                    <div class="greeting">Welcome Back!</div>
                    <div class="name">{{ username }}</div>
                </div>
            </div>

            <!-- top section icon -->
            <div class="user-menu">
                <div class="bell-icon">
                    <i class="fa-solid fa-bell"></i>
                </div>
                <div class="more-icon">
                    <div class="dropdown">
                        <button class="btn btn-secondary bg-transparent border-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>


        <!-- Image Upload Section -->
        <div class="image-upload">
            
            <form id="imageForm">
                <input type="file" id="inp_img" accept="image/*" hidden>
                <button type="submit" hidden>img form submit</button>
            </form>
            
            <div class="img-area" id="img_area" data-img="">
                <h3>Capture or Upload Image</h3>
                <p>Use Select-Img or Capture-Img and <span>SUBMIT</span></p>
            </div>
            <div class="text-center">
                <button class="btn btn-outline-primary" id="btn_sel_img">Select-Img</button>
                <a class="btn btn-outline-success" href="{{ url_for('webcam') }}" role="button">Capture-Img</a>
                <button class="btn btn-info" id="btn_sub_img">Submit</button>
            </div>

        </div>


        <!-- Message between Sender and Receiver -->
        <div class="card-body">
            <div id="msg_section">


            </div>
        </div>

        <!-- text input form -->
        <div class="mb-2 mt-2">
            <form class="chat-input-form" id="form_chat">
                <input type="text" class="chat-input" id="inp_chat" required placeholder="Type here ..." />
                <button type="submit" class="btn btn-lg btn-info">Send</button>
            </form>
            <button type="button" id="clr_clat" class="mt-2 btn btn-warning">Clear Chat</button>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='./js/home.js') }}"></script>
{% endblock %}