{% extends "base.html" %}

{% block title %}
Login VQA
{% endblock %}

{% block header %}
<h1 align="center">Login VQA Chat-App</h1>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        <div class="txt_field">
            <input type="text" name="username" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a href="{{ url_for('signup') }}">Signup</a>
        </div>
    </form>
</div>
{% endblock %}

{% block additional_scripts %}
<script>
    
</script>
{% endblock %}
